ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
}

button {
  margin-left: 2px;
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
}

.bgBlue {
  background: #4385f4;
}

.add {
  color: green;
  background: lightgrey;
  padding: 10px;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 10px;
}
