ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: white;
  border: 1px solid gray;
  border-radius: 6px;
}

button:hover {
  background: gray;
  color: white;
}

button:active {
  background: #4386f4;
  color: white;
}
